<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div class="container">
    <header>
      <h1>Mypage</h1>
    </header>
    <nav id="navbar">
      <ul>
        <a href="./index.html">
          <li>🏠</li>
        </a>
        <a href="#">
          <li>🔎</li>
        </a>
        <a href="#">
          <li>➕</li>
        </a>
        <a href="#">
          <li>♥</li>
        </a>
        <a href="./login.html">
          <li>😃</li>
        </a>
      </ul>
    </nav>
    <div id="main">
      <form class="form" action="index.html" method="post">
        <input type="text" name="name" placeholder="Input ">
      </form>
    </div>
  </div>
</body>

</html>
